{% extends "base.html" %}
{% block content %}


    <h3

    style="text-align: center; margin-top:1% ; color: rgb(48, 44, 44);">ARRANGE HALLS </h3>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
            <form action="/showsHalls" method="post">
                <table class="table table-borderless">

<!--                    <tr>-->
<!--                        <td>Movie Name </td>-->
<!--                        <td><input name="movieName" type="text" class="form-control"></td>-->
<!--                    </tr>-->
                    <tr>
                        <td>Show Id </td>
                        <td><input name="sid" type="number" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Class </td>
                        <td><input name="class" type="text" class="form-control"></td>
                    </tr>


                    <tr>
                        <td>No Of Seats </td>
                        <td><input name="nos" type="number" class="form-control"></td>
                    </tr>
                        <td></td>
                        <td><button class="btn btn-dark" type="submit">ADD HALL</button></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>

{% endblock %}